*{box-sizing: border-box;}
#dark {
    @import './cols/dark.scss';
    background: $bg;
    color: $fc;
    border-color: $sc;
    .navbar{background: rgba($fc,0.8)}
    .toggle-nav .bar{background: rgba($bc,1)}
    .jumbotron{background: rgba($bc,1)}
    button{
        background: $bc;
        color: $fc;
        border-color: $lc;
    }
}
#irie {
    @import './cols/irie.scss';
    background: $bg;
    color: $fc;
    border-color: $sc;
    .navbar{background: rgba($fc,0.8)}
    .toggle-nav .bar{background: rgba($bc,1)}
    .jumbotron{background: rgba($bc,.8)}
    button{
        background: $bc;
        color: $fc;
        border-color: $lc;
    }
}
#light {
    @import './cols/light.scss';
    background: $bg;
    color: $fc;
    border-color: $sc;
    .navbar{background: rgba($fc,0.8)}
    .toggle-nav .bar{background: rgba($bc,1)}
    .jumbotron{background: rgba($bc,.8)}
    button{
        background: rgba($bc,0.3);
        color: $fc;
        border-color: $lc;
    }
}
#woody {
    @import './cols/woody.scss';
    background: $bg;
    color: $fc;
    border-color: $sc;
    .navbar{background: rgba($fc,0.8)}
    .toggle-nav .bar{background: rgba($bc,1)}
    .jumbotron{background: rgba($bc,.8)}
    button{
        background: $bc;
        color: $fc;
        border-color: $lc;
    }
}
#metal {
    @import './cols/metal.scss';
    background: $bg;
    color: $fc;
    border-color: $sc;
    .navbar{background: rgba($fc,0.8)}
    .toggle-nav .bar{background: rgba($bc,1)}
    .jumbotron{background: rgba($bc,.8)}
    button{
        background: $bc;
        color: $fc;
        border-color: $lc;
    }
}
body{margin:0;width:100%;height:100%;overflow: hidden;}
svg{  
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none;
   pointer-events: none;
cursor: default;
}
canvas{position:fixed;top:-0%;left:-0%;z-index: -999;}
button{width: auto; border-radius: 9px; border: 0;}
img{width:calc(100% - 2em);margin:1em;}
.body{
    width:100%;
    margin:  0;
    padding-top: 0em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    
}
.navbar{ text-align:center; position: fixed; z-index:999;width: 100%;height:auto;grid-row: 1/1;}
nav{position: relative; text-align: left; top: 0em; left:0em; width:100%;height:auto;}
        .logo{
            position: relative;
            top: 0.2rem;
            left: 0.2em;
            padding: 0;
            margin: 0;
            font-size: 1em;
        }
        nav ul {
            width:100%;
            margin:  0;
            margin-top: .5em;
            padding: 0;
            display: grid;
            grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        }
        nav li {
            margin-bottom: 0em;
            margin-left: 1em;
            list-style: none;
            width: auto;
        }
        nav button {
            font-size: 0.8em;
            text-transform: uppercase;
            padding: .33em;
            margin-left: 1em;
        }
        nav button:first-child{margin-left: 0;}
        .toggle-nav{
            width: 52px;
            height: 42px;
            background: none !important;
            display:none;
        }
        .toggle-nav .bar{
            height:3px;
            width: 100%;   
        }
        .toggle-nav .bar:last-child{width:66%;}
        .iconic{height:18px !important; width:18px !important;float:left;margin:0;margin-left:3px !important; margin-right:10px !important; padding:0px !important; }
        #home{grid-column: 1/2;grid-row: 1;}
        #links{grid-column: 2/7;grid-row: 1;}
        #lookup{grid-column: 7/9;grid-row: 1;}
        #defi{grid-column: 9/13;grid-row: 1;text-align:right;margin-right: 2em;}
        #seek{width: 66%;}

.stage{
        grid-row:1/13;
        grid-column: 1/13;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            width: 100%;
            height: 100%;
            padding-top:3em;
        }
            #links{
                grid-row: 1;
                grid-column: 11/13;
            }
                #myProBtn{width:100%;}
                #allMemBtn{width:100%;}
            #form{ 
                grid-row: 2/5;
                grid-column: 11/13;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                width:100%;
            }
                #fuid{grid-row: 1;width:100%;}
                #fname{grid-row: 2;width:100%;}
                #frank{grid-row: 3;width:100%;}
                #fsince{grid-row: 4;width:100%;}
                #fbday{grid-row: 5;width:100%;}
                #fstatus{grid-row: 6;width:100%;}
                #formBtn{grid-row: 8;width:100%;}
            #board{
                grid-row: 1/9;
                grid-column: 1/11;
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-gap: 1em;
                padding:1em;
            }
                #proCard{
                    min-width: 350px;
                    background: lightgrey;
                    border-radius: 9px;
                    padding:2em;
                    overflow: hidden;
                }
            #account{
                grid-row: 1/7;
                grid-column: 1/7;
                padding: 1em;
                margin: 1em;
            }
            .propic{width: 100%; height: auto;}
            #userForm{
                grid-row: 4/7;
                grid-column: 7/13;
                padding: 1em;
                margin: 1em;
            }
                    #file{opacity: 0;
                        position: absolute;
                        z-index: -1;
                    }
                    #pusher,#uploader{cursor: pointer;opacity: 1}
            #connections{
                grid-row: 7/13;
                grid-column: 1/13;
                padding: 1em;
                margin: 1em;
            }
            #modal{ 
                width: calc(50% - 6em); 
                height: 50%; 
                z-index: 1000; 
                position: absolute; 
                top: 20%; 
                left:25%;
                padding:3em;
                background:rgba(ivory,0.5);
                display:none;
                border-radius: 9px;
            }
                #close{
                    border-radius:50%;
                    background:tomato;
                    border: 2px white solid;
                    width:18px; 
                    height: 18px;
                    padding:-5px;
                    color:white;
                    text-align: center;
                    vertical-align:top;
                    overflow: hidden;
                    font-size: 1.2em;
                    font-weight: 900;
                    position: absolute;
                    top: -6px;
                    right: -6px;
                }
                #closer{
                    position: relative;
                    top: -8px;
                }
                #msgForm,#s0xForm,#groupForm{display:none;text-align: center;}
                    #s0xTitle{
                        display: none;
                    }
                    .labeled{background: grey; width: 1.8em; height: 1.3em;padding:0em; margin:0em;}


@media(max-width: 1300px){
    nav ul{grid-template-columns: 1fr 5fr 6fr;}
    .navbar{bottom:0;grid-row: 12/13;}
    nav button{font-size:0.8em}
    .logo{text-align: right; }
    #home{grid-column: 1/2;grid-row: 2;}
    #links{grid-column: 1/9;grid-row: 1;}
    #lookup{grid-column: 2/13;grid-row: 2;text-align:right;margin-right:2em}
    #defi{grid-column: 2/13;grid-row: 1;text-align:right;}  
    .stage{grid-row:1/12;grid-column: 1/13;}
    #account{
        grid-row: 1/13;
        grid-column: 1/13;
        padding: 1em;
        margin: 1em;
    }
    #userForm{
        grid-row: 1/13;
        grid-column: 13/13;
        padding: 1em;
        margin: 1em;
    }
}
@media(max-width:720px){
    #lookup{display:none;}
    #defi{grid-column: 2/13;grid-row: 2;text-align:right;}  
}
@media(max-width:520){
    #links{display:none;}
    #defi{display:none;}
    nav li, nav ul, nav button{width: 100%}
    nav button{font-size:0.8em}
}
